<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Vue Test</title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
</head>

<body>
    <div id="app" class="main">
            <div class="meetingContainer">
                    <meeting-adder></meeting-adder>
                    <meeting-button v-for="(item, index) in meetings" :meeting="item" :index="index"></meeting-button>
            </div>
            <div class="container">
                    <div class="meetingTitle">{{selected}}</div>
                    <bubble v-for="(item, index) in texts[selected]" 
                        :text="item.message" :index="index" :time="item.time" 
                        :stamp="item.stamp" :type="item.type">
                    </bubble>
                    <input-field></input-field>
            </div>
           
    </div>
</body>
</html>

<script src="bundle.js"></script>
